# dependencies
node_modules/

# env files
.env
backend/.env
frontend/.env

# build
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
.vscode/
.idea/

# prisma local artifacts if needed
generated/